<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--是否为测试模式，开发本地测试使用，部署时改为false-->
		<add key="TestMode" value="true"/>		
		<!--工程图模板-->
		<add key="DrawingTemplate" value="template/drawing.drwdot"/>		
		<!--视图间距-->
		<add key="ViewGap" value="20"/>		
	</appSettings>
</configuration>
